body{
  margin:0;
  padding:0;
  text-decoration: none;
  background:#eee;
  font-family: 'Open Sans', sans-serif;
}
.header{
  width:100%;
  height:50px;
  background:#003A65;
}
.header .logo{
  font-size:22px;
  line-height: 48px;
  color:#fff;
}
.list-page{
  width:100%;
  min-height:400px;
  background:#fff;
  margin-top:10px;
  border:1px solid #ccc;
}
.search-wrapper{
  width:100%;
  margin:15px 0px 0px 0px;
}
.search-input{
  width:calc(80% - 10px)!important;
  float: left;
}
.add-button{
  width:20% !important;
  margin-left:10px;
}
.table th{
  line-height: 35px;
}
.table .api-name-td{
  width:85% !important;
  font-size:14px;
  line-height: 35px;
}
.table .api-name-td span{
  display: block;
}
.table .btn{
  width:100%;
  font-size:14px !important;
}
.points{
  font-size:3px;
  float:left;
  line-height:7px;
  color:#333;
  margin-right:5px;
}
.dropdown-item{
  padding:10px !important;
  font-size:14px !important;
  color:#666 !important;
}
